@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

body {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
}

nav {
  font-family: "Barlow Condensed";
  justify-content: space-between;
  margin: 2rem;
}

nav img {
  margin-right: 5rem;
}

nav,
nav div {
  display: flex;
  align-items: center;
}

nav div {
  justify-content: space-evenly;
  backdrop-filter: blur(2px);
  width: 50%;
  box-shadow: -11px 1px 13px 4px rgba(0, 0, 0, 0.15);
}

hr {
  width: 45%;
  height: 0.05px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

nav p {
  font-weight: bold;
  padding: 0.5rem 0.5rem;
}

nav p a {
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.icon-hamburger {
  display: none;
}

.page-intro {
  color: #d0d6f9;
  line-height: 29px;
  font-family: "Barlow";
  letter-spacing: 0.1px;
}

.current-page {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.page-content {
  margin: 2rem 6rem;
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.page-content span {
  opacity: 25%;
  margin-right: 1rem;
}

.close-menu {
  display: none;
}

@media (max-width: 80rem) {
  nav div {
    width: 75%;
  }

  hr {
    display: none;
  }
}

@media (max-width: 45rem) {
  nav div {
    display: none;
  }

  .icon-hamburger {
    display: block;
  }

  nav img {
    margin-right: 0;
  }
}

.menu-clicked {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  backdrop-filter: blur(3px);
  padding: 1rem;
  padding: 1rem;
  z-index: 1;
  position: absolute;
  right: 0;
  box-shadow: 1px 0px 10px 2px #ffffff66;
  background-color: #9994942e;
  justify-content: flex-start;
  height: 100vh;
}

.menu-clicked-close-menu {
  display: block;
  margin-bottom: 3rem;
  align-self: flex-end;
}

.none {
  display: none;
}

.menu-clicked-nav {
  align-items: flex-start;
}

.menu-clicked p a,
.menu-clicked p {
  font-size: larger;
  font-weight: bold;
}

@media (max-width: 45rem) {
  .page-content {
    margin: 2rem 2rem;
  }
}
