body {
  background: url(/IMAGES/technology/background-technology-desktop.jpg);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.next p {
}

.next a {
  text-decoration: none;
  color: white;
  font-family: "Bellefair";
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.2rem 1.5rem;
  border: 1px solid white;
  border-radius: 55px;
  display: block;
  margin: 1rem 0;
}

a.current-tech {
  color: black;
}

.current-tech {
  background-color: white;
}

.technology {
  width: 40%;
}

.terminology {
  color: white;
  font-family: "Bellefair";
  letter-spacing: 3px;
  opacity: 50.42%;
  font-size: 2rem;
  margin-bottom: 15px;
}

.tech-aspect {
  font-family: "Bellefair";
  font-size: 3.4rem;
  margin: 0;
}

.about-tech {
  color: white;
  opacity: 50.42%;
  line-height: 29px;
  font-family: "Barlow";
  letter-spacing: 0.1px;
}
