body {
  background: url(../IMAGES/technology/background-technology-desktop.jpg);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.next {
  margin-right: 6rem;
}

.next p {
  text-decoration: none;
  color: white;
  font-family: "Bellefair";
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.2rem 1.5rem;
  border: 1px solid white;
  border-radius: 55px;
  display: block;
  margin: 1rem 0;
  cursor: pointer;
}

p.current-tech {
  color: black;
}

.current-tech {
  background-color: white;
}

.technology {
  width: 40%;
}

.terminology {
  color: white;
  font-family: "Bellefair";
  letter-spacing: 3px;
  opacity: 50.42%;
  font-size: 2rem;
  margin-bottom: 15px;
}

.tech-aspect {
  font-family: "Bellefair";
  font-size: 3.4rem;
  margin: 0;
}

.about-tech {
  color: white;
  opacity: 50.42%;
  line-height: 29px;
  font-family: "Barlow";
  letter-spacing: 0.1px;
}

.num-tech {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 75rem) {
  main {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }

  .next {
    display: flex;
    margin-right: 0;
    width: 30%;
    justify-content: space-around;
  }

  .num-tech {
    flex-direction: column;
  }

  .technology {
    width: 75%;
    text-align: center;
  }
}

@media (max-width: 45rem) {
  .next {
    width: 60%;
  }

  .tech-image {
    width: 100%;
  }

  .technology {
    width: 85%;
  }

  .terminology {
    font-size: 1rem;
  }

  .tech-aspect {
    font-size: 1.9rem;
  }

  .next p {
    padding: 0.7rem 1.1rem;
  }
}

.SPACEPORT,
.SPACE-CAPSULE {
  display: none;
}

.previous-tech {
  display: none;
}

.chosen-tech {
  display: flex;
}
